{% extends 'base.html' %}
{% load staticfiles %}
{% static "" as base %}


{% block index %}
    <a class="page-item item" href="../">
        Home
    </a>
    {% for page in pages %}
        <a class="page-item item" href="#content{{ page.id }}">
            {{ page.title }}
        </a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% for page in pages %}
        <div class="page-text" id="content{{ page.id }}">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="description">
                {% autoescape off %}{{ page.description }}{% endautoescape %}
            </div>
            <div class="cards">
                {% for card in page.cards %}
                    <div class="item">
                        <div class="content">
                            <div class="title">
                                {{ card.title }}
                            </div>
                            <div class="time">
                                Updated {{ card.last_updated }}
                            </div>
                            <div class="description" style="padding: 0 20px;">
                                {% autoescape off %}
                                    {{ card.description }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
</div>

