{% extends 'base.html' %}
{% load staticfiles %}
{% static "" as base %}

{% block index %}
    {% for page in pages %}
        <a class="page-item item" href="#content{{ page.id }}">
            {{ page.title }}
        </a>
    {% endfor %}
    <a class="page-item item" href="/blog/">
        Blog
    </a>

    {% for page in reviews %}
        <a class="page-item item" href="#review{{ page.id }}">
            {{ page.title }}
        </a>
    {% endfor %}
{% endblock %}


{% block content %}
    {% for page in pages %}
        <div class="page-text" id="content{{ page.id }}">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="description">
                {% autoescape off %}{{ page.description }}{% endautoescape %}
            </div>
            <div class="cards">
                {% for card in page.cards %}
                    <div class="item">
                        <div class="thumbnail">
                            {% if card.image != None and card.image != '' %}
                                <img src="{{ base }}/images/{{ card.image }}"/>
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="title">
                                {{ card.title }}
                            </div>
                            <div class="time">
                                Updated {{ card.last_updated }}
                            </div>
                            <div class="description">
                                {% autoescape off %}
                                    {{ card.description }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {% for page in reviews %}
        <div class="page-text" id="review{{ page.id }}">
            <div class="title">
                {% if page.url == null or page.url == '' %}
                    {{ page.title }}
                {% else %}
                    <a href="{{ page.url }}">{{ page.title }}</a>
                {% endif %}
            </div>
            <div class="description">
                {% autoescape off %}{{ page.description }}{% endautoescape %}
            </div>
            <div class="list">
                {% for item in page.cards %}
                    <div class="item">
                        <div class="name">
                            {{ item.title }}
                        </div>
                        <div class="time">
                            {{ item.created }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}